<html>
    <head>
        <title>
                <%= title %>
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
            <p>Create a chatroom, <%= userID %> </p>
            <form action ="/chatroom" method = "post">
                <p>Room Name: <input type = "text" name = "chatroom"></p>
                <p><input type = "submit" value = "Create Room"></p></form>
    </form>
    </body>
</html>