<html>
    <head>
        <title>
           <% title %>
        </title>
        <link rel="stylesheet" href="/views/loginStyle.css" type="text/css">
    </head>
    <body>
        <div class = "centerMenu loginBox">
            <h2>Welcome to ChatIO</h2>
            <h4><%= error %></h4>
            <div class = "loginMenu">
                <form action ="/" method = "post">
                    <label>Username:<input type = "text" name = "username"></label>

                    <label>Password: <input type = "password" name = "password"></label>

                    <label><input type = "submit" value="Login"></label></form>

                    <div class = "textAlign">
                        <a href="/create">Create an Account</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>